# fastapi==0.104.1
fastapi
# uvicorn[standard]==0.24.0
uvicorn[standard]
# sqlalchemy==2.0.23
sqlalchemy
# httpx==0.25.2
httpx
python-dotenv
# pydantic[email]==2.5.0
pydantic[email]
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose[cryptography]
mcp
pypdf
langchain-text-splitters
cloudscraper
selenium
